.main-container {
  display: flex;
  flex-direction: column;
  align-items: center;
}

form {
  display: flex;
  flex-direction: column;
  align-items: center;


  & .form-block {
      margin-bottom: 5px;
  
    &:first-of-type {
      & label {
        margin-right: 5px;
      }
    }

    &:last-of-type {
      margin-bottom: 15px;
      & label {
        font-size: 0.875rem;
      }
    }
  }

  & input[type="submit"] {
    display: inline-block;
    width: 80px;
    border: 1px solid black;
    border-radius: 5px;
    background-color: transparent;
  }
}

.todo-items {
  & ul {
    padding: 0;
    display: flex;
    flex-direction: column;
    
    & li {
      display: flex;
      align-items: center;
      justify-content: flex-end;
  
      & button {
        display: inline-block;
        margin-left: 5px;
        border: 1px solid black;
        border-radius: 3px;
        background-color: transparent;
        cursor: pointer;
      }
    }
  }
}

.high-priority {
  color: goldenrod;
  font-weight: bold;
}

.edit-form {
  display: flex;
  font-size: .875rem;

  & label {
    margin-right: 5px;
  }
}

.done {
  text-decoration: line-through;
}
